tmp/*
logs/*
uploads/
templates/compiled/
templates/cache/
frontend/node_modules/
config/local.config.json
config/engine_config/frontend.config.json
.vagga/
node_modules/*
.idea/*
static/*
.c9/*
img/*
/nbproject/private/
*.swp
*.save
composer.phar
vendor/
