@media screen and (max-width: 1600px) {
  #scroll_down, #scroll_up {
    height: 50px;
  }
}

#container {
  padding-right: 64px;
  padding-left: 0px;
}

#navbar-right-small {
  display: none;
}

@media screen and (max-width: 1240px) {
  #navbar-right-small {
    display: flex;

    .with_dropd {
      display: flex;
      flex-direction: row-reverse;
      position: absolute;
      right: 0;

      .dropd {
        width: 0px;
        overflow: hidden;
        background: #404d9b;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
        transition: width .2s;
      }

      &:hover .dropd {
        width: 400px !important;
      }
    }

    .with_login {
      padding-left: 0px !important;
    }
  }

  #navbar-right-big {
    display: none;
  }

  .navbar-collapse.in {
    #navbar-right-big {
      display: block;
    }
    #navbar-right-small {
      display: none;
    }
  }
}

@media screen and (max-height: 530px) {
  #container {
    padding-right: 40px;
  }
  #rightbar {
    padding-top: 0px;
    //width: 100%;
    top: 0px;
    width: 40px;
    //top: calc(100% - 40px);
    //flex-direction: row;

    #rightbar_menu_top, #rightbar_menu_bottom {
      //display: flex;

      .rightbar-item a {
        width: 40px;
        height: 40px;

        i {
          font-size: 0.8em;
        }

        .new-comments {
          top: 20px;
          left: 23px;
        }
      }

      .delim-top {
        padding-top: 20px;
        //padding-left: 20px;
      }

      .user_item {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  #notifier {
    bottom: 40px;
    left: 10px;
  }

  #scroll_down, #scroll_up {
    height: 50px;
  }

  #scroll_down {
    margin-bottom: 40px;
  }

  #container {
    padding-left: 0px;
    padding-right: 0px;
  }

  #rightbar {
    padding-top: 0px;
    width: 100%;
    bottom: 0px;
    height: 40px;
    top: calc(100% - 40px);
    flex-direction: row;

    #rightbar_menu_top {
      display: flex;

      .rightbar-item a {
        width: 40px;
        height: 40px;

        i {
          font-size: 0.8em;
        }

        .new-comments {
          top: 20px;
          left: 23px;
        }
      }

      .delim-top {
        padding-top: 0px;
        padding-left: 20px;
      }

      .user_item {
        display: none;
      }
    }

    #rightbar_menu_bottom {
      display: none;
    }
  }

  .comment .comment-actions li i {
    font-size: 16px;
  }
}

@media screen and(max-width: 980px) {
  #NYtimer {
    display: none;
  }
}
