/* -------------------------------------------------------------------
	ОСНОВНЫЕ СТИЛИ
------------------------------------------------------------------- */

body {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  line-height: 18px;
  color: $text-color;
  background-image: $background-image;
  //padding-top: 200px;
  padding-top: 0px;
  transition: top .2s, padding-top .2s, padding .2s;
}

/* Ссылки
---------------------------------------------------- */
a {
  color: $link-color;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: darken($link-color, 10%);
}

a:hover, a:focus {
  text-decoration: none;
}

.text a:visited,
.topic .topic-header .topic-title a:visited,
.item-list li a:visited {
  color: darken($link-color, 15%);
}

a.link-dashed {
  border-bottom: 1px dashed #5055b2;
}

a.link-dashed:hover {
  border-color: #06e;
}

a.link-dotted {
  text-decoration: none;
  border-bottom: 1px dotted #5055b2;
}

a.link-dotted:hover {
  border-color: #06e;
}

/* Заголовки
---------------------------------------------------- */
h2.page-header {
  color: $attention-text;
  font-size: 27px;
  line-height: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

h2.page-header span {
  color: #aaa;
}

h2.header-table {
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.page-header {
  border-color: $main-accent-fifth;
}

/* Шапка сайта
---------------------------------------------------- */
#header a {
  text-decoration: none;
  color: #333;
}

#header .site-name {
  margin: 0 0 10px;
  font-size: 54px;
  line-height: 1em;
  font-weight: bold;
}

#header .site-name a:hover {
  color: #444AA3;
}

#header .site-description {
  width: 500px;
  color: #777;
  font-size: 15px;
}

/* Футер
---------------------------------------------------- */
#footer .copyright {
  float: right;
}

/* Stat
---------------------------------------------------- */
.stat-performance {
  display: none;
  width: 910px;
  margin: 0 auto 20px;
  padding: 15px 20px;
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.stat-performance table {
}

.stat-performance table td {
  width: 200px;
  vertical-align: top;
}

.stat-performance h4 {
  font-weight: bold;
}

/* Userfeed
---------------------------------------------------- */
.userfeed-get-more {
  display: block;
  width: 90%;
  margin: 0px auto;
  text-align: center;
  height: 2.5em;
  padding-top: 1em;
}

.userfeed-get-more:hover {
  background: #f0f7fd;
}

.userfeed_loading {
  background: #F7F7F7 url(images/loader.gif) no-repeat center;
}

/* Stream
---------------------------------------------------- */
.stream-get-more {
  display: block;
  text-align: center;
  padding: 12px 0;
  background: $first;
  color: $brand;
  text-decoration: none;
  border-radius: 20px;
  border: $second-border;
  margin-bottom: 15px;
  transition: background .2s;
}

.stream-get-more:hover {
  background: darken($first, 2%);
}

.stream_loading {
  background: #f7f7f7 url(images/loader.gif) no-repeat center;
}

.stream-comment-preview {
  padding: 5px 10px;
  background: $comment-new-background;
  margin-top: 5px;
}

.stream-list {
  margin: 0 0 20px;
}

.stream-list li.stream-item {
  margin-bottom: 10px;
  min-height: 72px;
  _height: 48px;
  background: $first;
  padding: 10px 15px 10px 70px;
  position: relative;
  border-radius: 20px;
  border: $second-border;
}

.stream-list li.stream-item .avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 100px;
}

.stream-list li.stream-item .date {
  display: block;
  color: #999;
}

.stream-list li.stream-item a {
  text-decoration: none;
}

.stream-list li.stream-item a:hover {
  text-decoration: underline;
}

.stream-list li.stream-header-date {
  font-size: 12px;
  color: #777;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid $main-accent-second;
}

.stream-list li.stream-item h3 {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 6px;
}

/* Userfields
---------------------------------------------------- */
.userfield-list {
  width: 450px;
}

.userfield-list li {
  background: #eee;
  margin-bottom: 1px;
  padding: 10px 10px;
  overflow: hidden;
  zoom: 1;
  line-height: 12px;
  color: #777;
}

.userfield-list li .userfield-actions {
  float: right;
}

.userfield-list li .userfield_admin_name {
  font-weight: bold;
  color: #333;
}

.userfield-add {
  text-decoration: none;
  border-bottom: 1px dashed #70AAE0;
}

.userfield-add:hover {
  color: #333;
  border-color: #333;
}

/* Misc
---------------------------------------------------- */
.avatar-edit {
  margin-bottom: 15px;
}

.avatar-edit img {
  vertical-align: bottom;
}

.avatar-edit label {
  margin-top: 10px;
}

.drafts {
  float: right;
  margin-top: 10px;
}

.poll-create {
  padding: 15px 20px;
  margin-bottom: 20px;
  background: #f7f7f7;
}

.question-list {
  margin-bottom: 15px;
}

.question-list li {
  margin-bottom: 5px;
}

.question-list li .input-text {
  margin-right: 10px;
}

.help {
  display: none;
  position: relative;
  padding: 10px 7px 13px;
  background: $comment-self-background;
  color: #363636;
  margin-top: 13px;
  font-size: 11px;
  line-height: 16px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px #eaeaea inset;
  box-shadow: 0 0 5px #eaeaea inset;
}

.help:before {
  display: block;
  content: "";
  position: absolute;
  top: -12px;
  left: 15px;
  width: 0;
  height: 0;
  border-width: 6px;
  border-color: transparent transparent #eee transparent;
  border-style: solid;
}

.help h3 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.help .help-col {
  float: left;
  width: 250px;
  padding: 0 10px;
}

.help .help-col.help-wide {
  float: none;
  width: 96%;
}

.help .help-item {
  margin-bottom: 20px;
}

.help .help-item:last-child {
  margin-bottom: 0;
}

.help .help-item h4 {
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 3px;
}

.help .help-item h4 a {
  color: #5055B2;
  border-bottom: 1px dotted #727a90;
}

/* Spoilers
---------------------------------------------------- */

.spoiler-body {
  display: none;
  padding: 10px;
  margin: 0px 0px 10px 3px;
}

.spoiler-title {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  background-color: $spoiler-background;
  margin: 3px 2px 0;
  display: inline-block;
  box-shadow: $first-shadow;
  margin-bottom: 6px;
}

.spoiler-close {
  border-radius: 5px;
}

$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

// demo-specific
.showbox {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// end demo-specific

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

#image-modal {
  display: flex;
  z-index: 1000500;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.62);
  top: 0;
  left: 0;
  display: none;

  img {
    margin: auto;
    max-height: 98%;
    max-width: 98%;
  }
}

img {
  max-width: 100%;
  cursor: pointer;
  object-fit: scale-down;
}

.doanswer {
  float: right;
  margin-top: 10px;
}

.new-ansli {
  color: #1F26A9 !important;
  font-weight: bold;
}

.new-answer {
  position: absolute;
  top: 0;
  right: 255px;
  color: #f9de7e;
  font-size: 11px;
  margin-right: 11px;
  margin-top: 18px;
  line-height: 1em;
  text-decoration: none;
}

.new-answer:hover {
  position: absolute;
  top: 0;
  right: 255px;
  color: #f9de7e;
  font-size: 11px;
  margin-right: 11px;
  margin-top: 18px;
  line-height: 1em;
  text-decoration: none;
}

.progressbar {
  height: 2px;
  width: 0%;
  background-color: rgba(63, 81, 181, 0.89);
  box-shadow: 0 0 2px rgba(63, 81, 181, 0.89);
  position: fixed;
  z-index: 100600;
}

#comment-shortcuts-description {
  display: inline-block;
  padding: 10px;
  background: $first;
  position: fixed;
  bottom: 10px;
  border-radius: 20px;
  border: $second-border;
  box-sizing: border-box;
  width: 450px;
  right: -450px;
  z-index: 3;
  max-height: 100%;
  overflow: auto;

  ul {
    li {
      padding-top: 5px;

      .shortcut {
        padding: 3px 5px;
        display: inline-block;
        background: $second;
        color: #5d67bb;
        border-radius: 10px;
        border: $second-border;
      }
    }
  }
}

#scroll_down, #scroll_up {
  position: fixed;
  height: 50%;
  width: 50px;
  transition: background .2s, color .2s;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: $scroller-hover-color;
  cursor: pointer;

  &:hover {
    background: $scroller-hover-bg;
  }
}
#scroll_up {
  top: 0px;
}
#scroll_down {
  bottom: 0px;
}

#top_block {
  margin-top: 15px;
}

#top_block_users {
  border: 0.5px solid #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
}

//#change_theme:hover {
//  transform: rotate(360deg) !important;
//}

#change_theme {
  transition: all 1s ease-in-out;
}


#webrtc {
  position: fixed;
  right: 100px;
  bottom: 0px;
}
#webrtc-header {
  width: 300px;
  height: 60px;
  background: #5d67bb;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 1px 0px 6px rgba(0,0,0,0.3);
  color: white;
}
#webrtc-active {
  height: 30px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #444ea1;

  .avatar {
    border-radius: 20px;
    margin: 0px 5px;
  }
}
#webrtc-actions {
  height: 30px;
  display: flex;
  align-items: center;
}
#webrtc-status {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0px 10px;
  border: $second-border;
}
#webrtc-status.inactive {
  background: red;
}
#webrtc-status.active {
  background: green;
}
#webrtc-actions a {
  display: inline-flex;
  color: white;
  margin-right: 10px;
}

#voice {
  display: flex;
  height: 80vh;
  width: 100%;
  position: relative;

  #voice-users-wrapper {
    width: 250px;
    min-width: 250px;
    background: white;

    #voice-users {
      background: $navbar-bg;
      height: calc(100% - 50px);
      display: flex;
      flex-direction: column;

      .user {
        padding: 10px;
        color: white;
        font-weight: 400;
        font-size: 1.2em;
        position: relative;
        border-bottom: 1px solid $brand-dark;

        .material-icons {
          position: absolute;
          right: 10px;
          top: calc(30px - 12px);
        }

        .avatar {
          border-radius: 20px;
          margin-right: 10px;
          border: 2px solid $navbar-bg;
        }

        &.speaking .avatar {
          border-color: #00C853;
        }
      }

    }

    #voice-actions {
      width: 100%;
      height: 50px;
      background: $brand-dark;
      display: flex;
      align-items: center;

      a {
        display: inline-flex;
        margin: 0px 5px;
        i {
          color: white;
        }
      }
    }
  }
  #voice-video {
    width: 100%;
    background: rgba(256,256,256,0.4);
  }

  #localVideo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    //height: 100px;
  }

  #remotesVideos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  #remotesMain {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;

    video {
      width: 48%;
    }
  }

  #remotesSecondary {
    height: 100px;
    padding:15px;

    video {
      height: 100px;
    }
  }

}

.config-param {
  margin-bottom: 15px;
}

.config_separator {
  display: block;
  font-size: 23px;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  margin-bottom: 20px;
  padding-bottom: 8px;
  margin-top: 50px;
}