/* --------------------------------------------
	БЛОГ
-------------------------------------------- */

.blog { background: $main-color; margin-bottom: 10px; border-radius: 3px; border: 1px solid $main-accent-second; overflow: hidden; }

.blog-fullheader {
    background: url(https://www.mylittlewallpaper.com/images/o_4f690277f18004.18716868.png) center;
    width: calc(100% + 30px);
    height: 250px;
    background-size: cover;
    margin-left: -15px;
    margin-top: -20px;
    margin-bottom: 15px;

    header {
        overflow: hidden;
        position: relative;
        color: white;
        flex-direction: column;
        display: flex;
        background: rgba(0, 0, 0, 0.33);
        height: 100%;
        justify-content: center;
        align-items: center;

        .blog-info {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .blog-title {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }

        .blog-description {
            font-size: 16px;
        }

        .blog-desc-checkbox, .blog-desc-checkbox-label {
            justify-content: center;
            font-size: 30px;
            display: flex;
            color: white;
            border: 0;
            height: 100%;
            width: 50px;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0;
            margin: 0;
            left: auto;
            border-radius: 0;
            cursor: pointer;
            align-items: center;
        }

        .blog-desc-checkbox-label {
            background: rgba(0, 0, 0, 0.19);
        }

        .hidden-desc {
          overflow: scroll;
          background: rgba(0, 0, 0, 0.59);
          z-index: 2;
          width: calc(100% - 50px);
          height: 100%;
          position: absolute;
          left: -100%;
          top: 0;
          transition: left .4s;
          padding: 10px 25px;
        }

        .blur {
            z-index: 1;
            filter: blur(5px);
            background: url(https://www.mylittlewallpaper.com/images/o_4f690277f18004.18716868.png);
        }

        .blog-desc-checkbox:checked + .hidden-desc {
            right: auto;
            left: 0;
        }
        .blog-desc-checkbox:checked + .hidden-desc .blur {
            right: auto;
            left: 0;
        }
        .blog-desc-checkbox:checked ~ .blog-info {
            filter: blur(10px);
        }
    }
}

/* Header */
.blog .blog-header 			{ position: relative; padding: 15px 130px 15px 78px; border-bottom: 1px solid $main-accent-second; }
.blog .blog-header h2 		{ font-size: 20px; font-weight: bold; line-height: 1em; margin-top: 3px; margin-bottom: 7px; }
.blog .blog-header h2 i 	{ position: relative; top: 5px; }
.blog .blog-header .avatar 	{ position: absolute; top: 15px; left: 15px; }

.blog .blog-header .vote-label	{ text-transform: uppercase; text-align: right; font-size: 11px; color: #aaa; }
.blog .blog-header .count 		{ font-size: 34px; line-height: 1em; font-weight: bold; text-align: right; }

.blog .blog-header .vote 									{ position: absolute; top: 15px; right: 15px; }
.blog .blog-header .vote .vote-count 						{ padding-left: 25px; display: block; color: $text-color; }
.blog .blog-header .vote .vote-up 							{ position: absolute; top: 22px; left: 0; display: none; }
.blog .blog-header .vote .vote-down 						{ position: absolute; top: 35px; left: 0; display: none; }
.blog .blog-header .vote:hover .vote-up,
.blog .blog-header .vote:hover .vote-down,
.blog .blog-header .vote.voted .vote-up,
.blog .blog-header .vote.voted .vote-down 					{ display: inline-block; }
.blog .blog-header .vote.vote-count-positive .vote-count 	{ color: #5055B2; }

.blog .blog-header .actions { margin-bottom: 0; }


.blog-admins, .blog-moders {
    a {
        color: white;
    }
}


.blog-stat {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
        flex-flow: column;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .title {
            font-weight: bold;
        }
    }
}

/* Content */
.blog .blog-content { padding: 15px; border-bottom: 1px solid $main-accent-second; }


/* Footer */
.blog .blog-footer { padding: 15px; border-bottom: 1px solid $main-accent-second; }


/* More Button */
.blog-more 			{ display: block; padding: 10px 0; text-align: center; text-decoration: none; background: $main-color; }
.blog-more:hover 	{ background: $main-accent-second; }
