/* -------------------------------------------------------------------

	КНОПКИ


	Примеры использования:

	<button class="button">Preview</button>
	<a href="#" class="button">Preview</a>

	<button class="button button-primary">Save</button>

------------------------------------------------------------------- */

$button-background: #4baedf;
$button-border-color: #4e99d2;

$button-primary-background: #eb5256;
$button-primary-border-color: #d44545;

.button {
	display: inline-block;

	padding: 10px;
	text-align: center;
	border-radius: 20px;

	font-size: 13px;
	line-height: 16px;

	color: $main-color;

	background: #009688;

	cursor: pointer;

	*margin-right: 5px;
	transition: background .2s;
	text-transform: uppercase;
	font-family: "Roboto";
	border: 1px solid darken(#009688, 15%);
	box-shadow: $first-shadow;
}
.button:hover, .button.hovered { text-decoration: none; color: $main-color; background: #00695C; }
.button:active {
	-moz-box-shadow: 	0 0 7px rgba(0, 0, 0, .5) inset;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5) inset;
	box-shadow: 		0 0 7px rgba(0, 0, 0, .5) inset;
}
.button.fl-r { *margin-right: 0; }


/* Button Primary */
.button.button-primary {
	background: $brand;
	border: 1px solid darken($brand, 15%);
}
.button.button-primary:hover, .button.button-primary.hovered 	{ background: darken($brand, 10%); }
.button.button-primary.active { background: $button-primary-border-color; }

.button-red {
	background-color: #d44336;
	border-color: #a94442;
}

/* Button Icon (Without text) */
.button.button-icon 			{ padding: 7px 10px; }

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
