/* --------------------------------------------
	КОММЕНТАРИИ
-------------------------------------------- */


/* Блок с комментариями */

.comments-header {
    margin-bottom: 20px;
}

.comments-header h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.comments {
    margin-bottom: 30px;
}

.comment-wrapper {
    position: relative;
}

.comment-wrapper .comment-wrapper {
    padding-left: 15px;
}

.comment-preview {
    padding: 5px 10px 6px;
    margin-bottom: 10px;
    background: $first;
    border: $second-border;
    border-radius: 3px;
    box-shadow: $first-shadow;
}

.comment-preview {
    font-size: 13px;
}


/* Стили для списка комментариев на странице http://ваш_сайт/comments/ */

.comments.comment-list .comment {
    margin-bottom: 15px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: $first-shadow;
}

.comments.comment-list .comment-path {
    background: darken($first, 5%);
    padding: 6px 16px 6px;
    border-radius: 20px 20px 0px 0px;
}

.comments.comment-list .comment-path .blog-name {
    color: #777;
}


/* Комментарий */

.comment {
    min-height: 48px;
    padding: 5px 8px 8px 68px;
    position: relative;
    border: $second-border;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: $first-shadow;
}

.comment .deleted {
    padding: 5px 10px;
    color: #777;
    background: #f4f4f4;
}

.comment .comment-avatar {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}


/* Типы комментариев
 *
 * deleted 	- 	удаленный комментарий
 * self 	- 	ваш комментарий
 * new 		- 	новый, непрочитанный комментарий
 * current 	- 	активный комментарий, который выделяется при исползование кнопки обновления в тулбаре
 *
 */

.comment {
    background: $first;
}

.comment.comment-deleted {
    background: $comment-deleted-background !important;
    border-left: 3px solid #F44336 !important;
    border-right: 3px solid #F44336 !important;
}

.delete-reason {
    font-style: italic;
    padding: 10px;
    border-left: 3px solid #F44336;
    background: $comment-delete-reason;
}

.comment.comment-self {
    border-left: 3px solid $brand;
    border-right: 3px solid $brand;
}

.comment.comment-new {
    background: $comment-new-background;
}

.comment.comment-current {
    background: $comment-current-background;
}

.comment.comment-bad {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.comment.comment-bad:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.comment.comment-folding-start {
    border-bottom: 3px solid $brand;
}

.fold, .unfold {
    position: absolute;
    left: 22px;
    bottom: 5px;
    height: 24px;
    color: $brand;
    opacity: 0;
    cursor: pointer;
}

.unfold, .fold {
    display: none;
}

.comment:hover .fold, .comment:hover .unfold {
    opacity: 1;
}

.comment.comment-foldable {
    .fold {
        display: flex;
    }
}

.comment.comment-folding-start {
    .unfold {
        display: block;
    }

    .fold {
        display: none;
    }
}

.folding-show {
    display: none;
    height: 24px;
    width: 24px;
    background: white;
    border-radius: 12px;
    color: $brand;
    border: $second-border;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 10px;

    i {
        font-size: 20px;
    }
}

.folding.folded {
    .folding-comments {
        display: none;
    }
    .folding-show {
        display: flex;
    }
}


/* Info Block */

.comment .comment-info {
    padding: 5px 70px 7px 0;
    line-height: 12px;
    position: relative;
    top: -2px;
    overflow: hidden;
    zoom: 1;
}



.comment .comment-info li {
    float: left;
    margin-right: 5px;
}

.comment .comment-info li a {
    text-decoration: none;
}

.comment .comment-info li.comment-author a {
    font-weight: bold;
    padding: 3px;
    display: inline-block;
}

.author-rank {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid $rank-bg;
    color: $rank-bg;
    font-size: 0.8em;
}

.comment .comment-info li.comment-author .comment-topic-author {
    background: #C9A518;
    color: #fff;
    font-size: 11px;
    border-radius: 3px;
    padding: 1px 7px;
    margin-right: 5px;
}

.comment .comment-info li.comment-date a {
    color: #999;
    border-color: #999;
}

.comment .comment-info li.vote {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
}

.comment .vote i {
    font-size: 17px;
    font-weight: 600;
}

.comment .comment-info li.goto-comment-child {
    display: none;
}


/* Content */

.comment .comment-content {
    margin-bottom: 10px;
}

.comment .comment-content.text {
    font-size: 13px;
}

.comment .comment-content.text blockquote {
    padding: 5px 10px;
    margin-bottom: 5px;
}


/* Actions */
.comment .comment-actions-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.comment .comment-actions {
    display: inline-block;
}

.comment .comment-actions li {
    display: inline-flex;
    margin-right: 10px;

    > span {
        margin-left: 10px;
        display: inline;


        &.vote-count {
            margin-left: 0;
        }
    }

    &.comment-edited {
        display: none;
        margin-left: -8px;
        color: #4CAF50;
    }
}

.comment .comment-actions time {
    color: #9e9e9e;
}

.comment .comment-actions .action-hidden {
    opacity: 0;
    transition: opacity .2s;
}

.comment:hover .comment-actions .action-hidden {
    opacity: 1;
}


/* Форма комментирования */

.reply-header {
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 15px;
}

.reply {
    padding-bottom: 10px;
}

.reply textarea {
    resize: vertical;
    height: 100px;
    background: $first;
    border: $second-border;
}

.reply textarea.loader {
    background: #f7f7f7 url(images/loader.gif) no-repeat center;
}

.reply .mceEditor {
    display: block;
    margin-bottom: 10px;
}

.edited_comment {
    color: green;
    display: block;
    width: 100%;
    text-align: right;
    font-size: 80%;
}

.editcomment_sponsor_link {
    margin-top: 20px;
    font-size: 80%;
    opacity: 0.35;
}

button#comment-button-cancel {
    margin-left: 5px;
}

button#comment-button-history {
    margin-left: 5px;
}

.modal.editcomment-history {
    width: 740px;
    margin-left: -370px;
}

#editcomment-history-content {
    padding: 10px;
    width: 660px;
    max-width: 660px;
    max-height: 350px;
    overflow: auto;
}

.editcomment_history_item {
    border: 1px solid #777;
    margin-bottom: 10px;
}

.editcomment_history_item header {
    padding: 5px;
    background-color: #777;
}

@media screen and (max-width: 500px) {
    #comment-shortcuts-wrapper {
	display: none;
    }
}

.vote-list-box {
    z-index: 100;
    padding: 10px;
    transition-duration: 0.5s;
    transition-property: opacity,filter,-webkit-filter;
    opacity: 1;
    filter: alpha(opacity=100);
    &.hidden {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    //@media screen and (min-width:568px) {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
        border: $second-border;
        display: inline-block;
        position: absolute;
        background-color: $second;
        .close-button {
            display: none;
        }
        &.for-comment {
            right: 12px;
            bottom: 38px;
            border-radius: 8px;
        }
        &.for-comment.for-lone-comment {
            right: 26px;
            bottom: 50px;
            border-radius: 8px;
        }
        &.for-topic {
            bottom: 60px;
            max-height: calc(100% - 153px);
            overflow-y: scroll;
            border-radius: 9px;
            padding-bottom: 0px;
            .vote-list-item {
                &:last-child {
                    >.vote-list-item-component {
                        padding-bottom: 10px;
                    }
                }
            }
        }
        &.for-blog {
        }
        &.for-user {
        }
    //}
    /*
    @media screen and (max-width:567px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        .close-button {
            display: block;
            text-align: center;
            margin-bottom: 8px;
            color: #333;
            text-decoration: none;
            font-weight: bolder;
            font-size: 1.5em;
        }
    }
    */
    /*
    .vote-list-wrapper {
        //overflow-y: hidden;
        @media screen and (min-width:568px) {
            //max-height: 320px;
        }
        @media screen and (max-width:567px) {
            height: 100vh;
        }
    }
    */
}
.vote-list {
    display: table;
    >.vote-list-item {
        display: table-row;
        &:not(:last-child) {
            >.vote-list-item-component {
                padding-bottom: 0.3em;
            }
        }
        >.vote-list-item-component {
            display: table-cell;
            &:not(:last-child) {
                padding-right: 10px;
            }
        }
        >time.vote-list-item-component {
            color: #9e9e9e;
            >.fa {
                float: left;
                margin-right: 3px;
                padding-top: 1.5pt;
            }
        }
        >time.vote-list-item-component,
        >.vote.vote-list-item-component {
        // 	text-align: right;
            float: none;
        }
        >.vote {
            &::before {
                content: attr(data-value);
                font-weight: bolder;
            }
            &[data-value="0"]::before {
                color: black;
            }
            &[data-value^="+"]::before {
                color: #4CAF50;
            }
            &[data-value^="−"]::before {
                color: #F44336;
            }
        }
    }
}

/*
.vote-info-enable .vote.vote-count-mixed .vote-count {
    color: black;
}
*/
/*.vote-info-enable .comment-vote.vote,*/
.vote-count {
    cursor: default;
}
.vote-info-enable {
    .vote-count-positive, 
    .vote-count-negative, 
    .vote-count-mixed {
        >.vote-count, 
        &.vote-count {
            &:not(.in-progress):not(.toggled) {
                cursor: help;
            }
        }
    }
}
.vote-count.in-progress {
    cursor: progress;
}

/*
.ls-user-role-admin .comment .vote .vote-count {
    cursor: help;
}
*/

.bad-placeholder {
    color: darken($comment-deleted-background, 5%);
    height: 40px;
    border-radius: 20px;
    display: flex;
    width: 100%;
    background: rgba($comment-deleted-background, 0.2);
    border: 1px solid rgba(darken($comment-deleted-background, 5%), 0.2);
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}