@import url(https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);
$brand: #5d67bb;
$link-color: lighten($brand, 5%);
$userbar-height: 64px;

$search-color: white;
$search-active-color: rgba(61, 142, 185, 1);
$search-background: #38a6a6;

$background-image: url(/back_dark.jpg);
$userbar-background: #4D5DB7;
$userbar-hover-background: darken($userbar-background, 5%);
$content-background: #fff;

$text-color: white;
$text-notice-color: black;
$stream-text-color: white;

$stream-item-border: #eee;
$comments-border-top: 1px solid #e7e8ec;

$main-color: #303030;

$accent: #fafafa;
$secondary-accent: #edf1f2;

$main-accent: #f3f3f3;
$main-accent-second: #eee;
$main-accent-third: #ddd;
$main-accent-fourth: #eee;
$main-accent-fifth: #fff;

$attention-text: #333;

$main-active-color: inherit;
$main-active-hover-color: inherit;

$spoiler-background: #414141;

$image-opacity: 0.7;
$image-opacity-hover: 1;

$comment-self-background: rgba(197, 247, 234, 0.42);
$comment-new-background: #1e1e1e;
$comment-current-background: #313851;
$comment-deleted-background: #efd5d5;

$pre-background: #474747;
$blockquote-background: #323232;
$blockquote-border: #565656;

$image-under-photo: url('//static.lunavod.ru/img/96264c202d9e423707c39c917669f9cd2277716e.png');

$sidebar-text: #707b82;
$sidebar-text-a: #67737a;

@mixin placeholder ($rules) {

  @each $rule in $rules {
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      #{nth($rule, 1)}: #{nth($rule, 2)};
    }
  }
}

@import "bootstrap/assets/stylesheets/bootstrap";

$navbar-bg: #4D5DB7;
$brand: #5d67bb;
$wrapper: #303030;
$first: #232323;

$second: #303030;
//$second: white;
$second-border: 0.5px solid rgba(0,0,0,0.5);

//$link-color: lighten($brand, 5%);
$table-color: #e7e7e7;
$table-hover: #292929;

$scroller-hover-bg: rgba(255, 255, 255, 0.17);
$scroller-hover-color: rgb(0, 0, 0);

$attention-text: #e1e1e1;

$block-content-color: #c3c3c3;

@import "./markitup";
@import "./base";
@import "./blocks";
@import "./blog";
@import "./buttons";
@import "./common";
@import "./grid";
@import "./icons";
@import "./infobox";
@import "./jquery.notifier";
@import "./menu";
@import "./modals";
@import "./navs";
@import "./print";
@import "./reset";
@import "./profile";
@import "./tables";
@import "./text";
@import "./topic";
@import "./wall";
@import "./forms";
@import "./jquery.Jcrop";
@import "./comments";

@import "./amazium/variables";
@import "./amazium/form";
@import "./themes/base/all";

#change_theme:hover {
  transform: rotate(360deg) !important;
}