@import url(https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);

$link-color: #38a6a6;

$userbar-height: 64px;

$search-color: white;
$search-active-color: rgba(61, 142, 185, 1);
$search-background: #38a6a6;

$background-color: #1a1a1a;
$userbar-background: #131313;
$userbar-hover-background: lighten($userbar-background, 5%);
$content-background: #131313;
$text-color: #c9c9c9;
$text-notice-color: black;
$stream-text-color: white;
$stream-item-border: transparent;
$comments-border-top: 1px solid #27282b;

$accent: #181818;
$secondary-accent: #1d2122;

$main-color: #313131;
$main-accent: #313131;
$main-accent-second: #0c0c0c;
$main-accent-third: #1f1f1f;
$main-accent-fourth: #212121;
$main-accent-fifth: #333;

$attention-text: #ccc;

$main-active-color: #1f3e4e;
$main-active-hover-color: #084c6f;

$spoiler-background: #333;

$image-opacity: 0.6;
$image-opacity-hover: 1;

$comment-self-background: #212121;
$comment-new-background: rgb(45, 45, 45);
$comment-current-background: #313851;
$comment-deleted-background: #621717;

$pre-background: #313131;
$blockquote-background: #313131;
$blockquote-border: #212121;

$image-under-photo: url('//static.lunavod.ru/img/4a6ee2b299bf7e48a7e1a257b50ea7dc50ef0aae.jpg');

$sidebar-text: #bcc7ce;
$sidebar-text-a: #aaa;

@mixin placeholder ($rules) {

  @each $rule in $rules {
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      #{nth($rule, 1)}: #{nth($rule, 2)};
    }
  }
}

@import "bootstrap/assets/stylesheets/bootstrap";
@import "./markitup";
@import "./base";
@import "./blocks";
@import "./blog";
@import "./buttons";
@import "./common";
@import "./grid";
@import "./icons";
@import "./infobox";
@import "./jquery.notifier";
@import "./menu";
@import "./modals";
@import "./navs";
@import "./print";
@import "./reset";
@import "./profile";
@import "./tables";
@import "./text";
@import "./topic";
@import "./wall";
@import "./forms";
@import "./jquery.Jcrop";
@import "./comments";

@import "./amazium/variables";
@import "./amazium/form";
@import "./themes/base/all";

.checkbox input + label:before { background-color: $search-background; border-color: #67737a; }