/* -------------------------------------------------------------------
	ФОРМЫ
------------------------------------------------------------------- */

.input-text {
	width: 150px;
	padding: 5px;
	border: 1px solid $main-accent-third;
	border-radius: 3px;
	box-sizing: border-box;
}
.input-text:focus 	{ border-color: #4D90FE; -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4D90FE; box-shadow: 0 2px 4px rgba(0,0,0,.07) inset, 0 0 3px #4D90FE; }
.input-checkbox 	{ position: relative; top: 1px; margin: 0 2px 0 1px; }

.input-width-full 	{ width: 100%; }
.input-width-50 	{ width: 50px; }
.input-width-100 	{ width: 100px; }
.input-width-150 	{ width: 150px; }
.input-width-200 	{ width: 200px; }
.input-width-250 	{ width: 250px; }
.input-width-300 	{ width: 100%; max-width: 300px; }
.input-width-400 	{ width: 400px; }
.input-width-500 	{ width: 500px; }

textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 1em; position: static;}

select 		{ padding: 4px; border: 1px solid $main-accent-third; border-radius: 3px; }

fieldset { margin-bottom: 30px; padding-top: 20px; border-top: 1px solid $secondary-accent; }
fieldset legend { color: #000; font-size: 18px; padding-right: 10px; }

form p { margin-bottom: 20px; }
form label { display: block; margin-bottom: 3px; }
form .icon-question-sign { cursor: help; }

.note { display: block; margin-top: 3px; font-size: 12px; color: #aaa; }
.note.note-header { margin-bottom: 20px; }

.captcha-image { vertical-align: top; }

dl.form-item { overflow: hidden; zoom: 1; margin-bottom: 20px; }
dl.form-item dt { float: left; width: 135px; padding-top: 4px; padding-right: 15px; overflow: hidden; }
dl.form-item dd { float: left; max-width: 800px; width:100%; }

.form-profile { position: relative; }
.form-profile .avatar-change { position: absolute; top: 40px; right: 0; padding: 10px; background: $first; font-size: 11px; border: $second-border; border-radius: 20px; }

/* Placeholder */
:-moz-placeholder { color: #aaa; }
.placeholder { color: #aaa; }

.mceEditor { display: block; margin-bottom: 20px; }


/* Валидатор
---------------------------------------------------------------*/
.validate-error-hide { display: none; }
.validate-error-show { display: block; color: #f00; font-weight: bold; font-size: 12px; }

input[type="file"] {
	//height: 34px;
	justify-content: center;
	align-items: center;
	display: flex;
	background: #303030;
	border-color: #111;
}

input[type="text"], textarea, select {
	background-color: $first !important;
	border-color: $second-border-color !important;
}

label, .label {
	color: $label-color !important;
}

fieldset legend {
	color: $attention-text;
}