/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
#header 	{ padding: 50px 0; position: relative; }
#nav 		{ overflow: hidden; }
#wrapper 	{ position: relative; overflow: hidden; zoom: 1; background: $content-background; border-bottom: 1px solid $main-accent-second; -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1); box-shadow: 0 0 3px rgba(0,0,0,.1); }
#content 	{ float: left;  margin-right: 0; background: $content-background; position: relative; padding-top: 20px; }
#sidebar	{ right: 0; height: 100%; float: left;  background-color: $secondary-accent; padding: 20px 0px;}
#footer 	{ overflow: hidden; zoom: 1; margin-bottom: 20px; padding: 20px 0 50px; color: #777; }


#content.content-full-width { width: 100%; margin-right: 0; }

#content.content-right 		{ margin-right: 0; float: right; }
#sidebar.sidebar-left 		{ left: 0; float: left; padding-right: 0px; border-right: 1px solid $main-accent-second; padding-top: 0;}
