/* --------------------------------------------
	СЕТКА
-------------------------------------------- */

#container 	{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-right: 64px;
}
#header 	{ padding: 50px 0; position: relative; }
#nav 		{ overflow: hidden; }
#wrapper 	{ margin-top: 20px; border-radius: 20px; position: relative; overflow: hidden; zoom: 1; background: $wrapper; border-bottom: 1px solid $main-accent-second; box-shadow: 0 0 6px rgba(0,0,0,.15); }
#content 	{ max-width: 100%; float: left;  margin-right: 0; background: wrapper; position: relative; padding-top: 20px; }

#sidebar	{ float: left;}
@media (max-width: 992px) { #sidebar { position: relative } }

#footer 	{ overflow: hidden; zoom: 1; margin-bottom: 20px; padding: 20px 0 50px; color: #777; }


#content.content-full-width { width: 100%; margin-right: 0; }

#content.content-right 		{ margin-right: 0; float: right; }
#sidebar.sidebar-left 		{ left: 0; float: left; padding-right: 0px; border-right: 1px solid $main-accent-second; padding-top: 0;}
