@import url(http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);

$link-color: #38a6a6;

$userbar-height: 64px;

$search-color: white;
$search-active-color: rgba(61, 142, 185, 1);
$search-background: #38a6a6;

$background-color: #f7f7f7;
$userbar-background: #fff;
$content-background: #fff;
$accent: #fafafa;
$secondary-accent: #edf1f2;
$text-color: black;
$stream-item-border: #eee;
$comments-border-top: 1px solid #e7e8ec;
$main-color: white;
$main-accent: #f3f3f3;
$main-accent-second: #eee;
$main-accent-third: #ddd;
$spoiler-background: #e6e6e6;
$main-accent-fourth: #fff;
$main-accent-fifth: #fff;
$image-opacity: 1;
$image-opacity-hover: 1;
$comment-self-background: rgba(197, 247, 234, 0.42);
$comment-new-background: rgba(251, 251, 168, 0.35);
$comment-current-background: rgba(165, 231, 250, 0.4);
$comment-deleted-background: #efd5d5;

// $background-color: #1a1a1a;
// $userbar-background: #131313;
// $content-background: #131313;
// $accent: #181818;
// $secondary-accent: #1d2122;
// $text-color: #c9c9c9;
// $stream-item-border: transparent;
// $comments-border-top: 1px solid #27282b;
// $main-color: #131313;
// $main-accent: #131313;
// $main-accent-second: #0c0c0c;
// $main-accent-third: #1f1f1f;
// $main-accent-fourth: #212121;
// $main-accent-fifth: #333;
// $spoiler-background: #333;
// $image-opacity: 0.6;
// $image-opacity-hover: 1;
// $comment-self-background: #212121;
// $comment-new-background: rgb(45, 45, 45);
// $comment-current-background: #313851;
// $comment-deleted-background: #621717;

@mixin placeholder ($rules) {

  @each $rule in $rules {
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      #{nth($rule, 1)}: #{nth($rule, 2)};
    }
  }
}

@import "bootstrap/assets/stylesheets/bootstrap";
@import "./markitup";
@import "./base";
@import "./blocks";
@import "./blog";
@import "./buttons";
@import "./comments";
@import "./common";
@import "./grid";
@import "./icons";
@import "./infobox";
@import "./jquery.notifier";
@import "./menu";
@import "./modals";
@import "./navs";
@import "./print";
@import "./profile";
@import "./reset";
@import "./tables";
@import "./text";
@import "./topic";
@import "./wall";
@import "./forms";
@import "./jquery.Jcrop";

@import "./amazium/variables";
@import "./amazium/form";
@import "./themes/base/all"
