@import url(https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css);

$link-color: #4D5DB7;

$userbar-height: 64px;

$search-color: white;
$search-active-color: rgba(61, 142, 185, 1);
$search-background: #38a6a6;

$background-image: url(images/back_light.png);
$userbar-background: #4D5DB7;
$userbar-hover-background: darken($userbar-background, 5%);
$content-background: #fff;

$text-color: black;
$text-notice-color: black;
$stream-text-color: white;

$stream-item-border: #eee;
$comments-border-top: 1px solid #e7e8ec;

$main-color: white;

$accent: #fafafa;
$secondary-accent: #edf1f2;

$main-accent: #f3f3f3;
$main-accent-second: #eee;
$main-accent-third: #ddd;
$main-accent-fourth: #eee;
$main-accent-fifth: #fff;

$attention-text: #333;

$main-active-color: inherit;
$main-active-hover-color: inherit;

$spoiler-background: #e6e6e6;

$image-opacity: 1;
$image-opacity-hover: 1;

$comment-self-background: rgb(231, 252, 246);
$comment-new-background: #ffffc4;
$comment-current-background: #c7f2ff;
$comment-deleted-background: #fff0ef;
$comment-delete-reason: #ffd4d1;

$pre-background: #fafafa;
$blockquote-background: #fafafa;
$blockquote-border: #eee;

$image-under-photo: url(images/image_under_foto.png);

$sidebar-text: #707b82;
$sidebar-text-a: #67737a;

$first-shadow: 0px 1px 6px rgba(0,0,0,0.08);

$blog-trash-border: 3px solid red;

@mixin placeholder ($rules) {

  @each $rule in $rules {
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder {
      #{nth($rule, 1)}: #{nth($rule, 2)};
    }
  }
}

@import "bootstrap/assets/stylesheets/bootstrap";

$brand: #5d67bb;
$brand-dark: #4a53a4;
$navbar-bg: $brand;
$wrapper: #f5f5f5;
$first: #fff;

$rank-bg: rgba($brand, 0.5);

$second: #F9F9F9;
//$second: white;
$second-border-color: rgba(0,0,0,0.1);
$second-border: 0.5px solid $second-border-color;

$second-toggled: #eaeaea;

$label-color: #333;

$table-color: #2a2a2a;
$table-hover: white;

$scroller-hover-bg: rgba(0, 0, 0, 0.1);
$scroller-hover-color: rgba(0, 0, 0, 0.3);

$attention-text: #333;

$block-content-color: #4c4c4c;

@import "./markitup";
@import "./base";
@import "./blocks";
@import "./blog";
@import "./buttons";
@import "./common";
@import "./grid";
@import "./icons";
@import "./infobox";
@import "jquery.notifier";
@import "./menu";
@import "./modals";
@import "./navs";
@import "./print";
@import "./reset";
@import "./profile";
@import "./tables";
@import "./text";
@import "./topic";
@import "./wall";
@import "./forms";
@import "./jquery.Jcrop";
@import "./comments";
@import "./dragndrop";

@import "./amazium/variables";
@import "./amazium/form";
@import "./themes/base/all";

#change_theme:hover {
  transform: rotate(180deg) !important;
}

@import "./adaptive";

@import "../node_modules/highlightjs/styles/atom-one-light.css";
