.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: 201px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -150px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.hidden-menu-ticker {
    display: none;
}
.btn-menu {
    overflow: hidden;
    color: #fff;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 35px;
    -webdvkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    ftransition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}
.btn-menu span {
    width: 30px;
}
.hidden-menu-ticker:checked ~ .btn-menu {
    left: 5px;
    overflow: visible;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: -10px;
}
.hidden-menu-ticker:checked ~ .hidden-menu { box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.logo { margin-left: -12px;  margin-top: 15px; transition: left .2s; max-width: 100500%; }
.woona {height: 100%; position: fixed; z-index: 9999999999999999; margin-left: 300px; display: none;}
.userbar_info {bottom: 0px;position: absolute;width: 100%;}

#new_messages>.fa-envelope-o::before { position: relative; right: 0px; }
#new_messages>.fa-envelope::before { position: absolute; }
#new_messages>.fa-envelope::before,
#new_messages>.fa-envelope-o::before {
	transition-duration: 1.2s;
	transition-property: opacity,filter,color;
}
#new_messages.new-messages>.fa-envelope-o::before,
#new_messages:not(.new-messages)>.fa-envelope::before {
	opacity: 0;
	filter: alpha(opacity=0);
}
#new_messages.new-messages>.fa-envelope::before,
#new_messages:not(.new-messages)>.fa-envelope-o::before {
	opacity: 1;
	filter: alpha(opacity=100);
}
