/* --------------------------------------------
	СТРАНИЦА ПОЛЬЗОВАТЕЛЯ
-------------------------------------------- */
.profile {
    min-height: 48px;
    margin-bottom: 0;
    padding: 0 300px 20px 65px;
    position: relative;
}

.profile .avatar {
    position: absolute;
    top: 0;
    left: 0;
}

.profile .vote-label {
    text-transform: uppercase;
    text-align: right;
    font-size: 11px;
    color: #aaa;
}

.profile .count {
    font-size: 34px;
    line-height: 1em;
    font-weight: bold;
    text-align: right;
}

.profile .vote {
    position: absolute;
    top: 0;
    right: 140px;
    background: $main-color;
}

.profile .vote .vote-count {
    padding-left: 25px;
    display: block;
}

.profile .vote .vote-up {
    position: absolute;
    top: 22px;
    left: 0;
    display: none;
}

.profile .vote .vote-down {
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
}

.profile .vote.voted .vote-down,
.profile .vote.voted .vote-up,
.profile .vote:hover .vote-down,
.profile .vote:hover .vote-up {
    display: inline-block;
}

.profile .vote.vote-count-positive .vote-count {
    color: #60CC4E;
}

.profile .strength {
    position: absolute;
    top: 0;
    right: 0;
}

.profile .user-login {
    width: 270px;
    font-size: 27px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile .user-login.no-user-name {
    position: relative;
    top: 9px;
}

.profile .user-name {
    color: #777;
}

.profile-page-header {
    font-weight: bold;
    margin-bottom: 20px;
    background: $first;
    border: $second-border;
    color: $brand;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.profile-info-about {
    padding: 13px 20px 20px;
    background: #F1F9F1;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #000;
}

.profile-info-about h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-tabs {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: $first;
    margin-left: 0px;
    padding-left: 100px;
}

.profile-tabs li {
    border-bottom: 2px solid $first;
}

.profile-tabs li.active {
    border-bottom: 2px solid $brand;
}

.profile-tabs li a {
    display: inline-block;
    padding: 15px;
    color: #67737a;
}

.profile-main {
    background: $image-under-photo;

    .vote-up, .vote-down {
        margin: 0;
        margin-top: 0px;
        transition: all .3s;
    }

    .vote-up:hover, .vote-down:hover {

    }
}

.user-avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
}

.user-avatar {
    border: 1px solid rgba(158, 158, 158, 0.65);
    background: $secondary-accent;
    border-radius: 100px;
    box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.35);
}

.user-info {
    background: rgba(0, 0, 0, 0.12);
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info .user-login {
    color: $text-color;
    font-size: 30px;
}

.user-info .user-rating {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 1.2em;
}


#top_block_users {
    border: $second-border;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;

    .avatar {
        width: 100px;
        height:100px;
        border-radius: 150px;
        border: 3px solid #F44336;
        position: absolute;
        bottom: -20px;
        left: 10px;
        z-index: 1;
        background: $first;

        &.online {
            border-color: #4CAF50;
        }
    }

    #user_background {
        width: 100%;
        /*! display: flex; */
        background-image: url(http://imagine.pics/images/512/512109.jpg);
        min-height: 200px;
        position: relative;
    }
    #user_background_grad {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0));
        display: flex;
        padding-left: 120px;
        font-size: 25px;
        /*! color: #5d67bb; */
        /*! justify-content: center; */
        align-items: center;
        color: white;
    }
}