/* -------------------------------------------------------------------
	ТАБЛИЦЫ
------------------------------------------------------------------- */

.table 					{ width: 100%; margin-bottom: 15px; }
.table th 				{ text-align: left; }
.table td, .table th 	{ border-bottom: 1px solid $main-accent-second; padding: 10px 3px !important; font-size: 14px !important; font-weight: 400; color: $table-color; vertical-align: middle !important; }
.table tr.active td 	{ background: #CBF4BC; font-size: 14px !important; }

.table a.asc:after		{ content: "▲"; }
.table a.desc:after		{ content: "▼"; }

/* Table Blogs */
.table.table-blogs .cell-name .avatar 	{ float: left; margin-right: 10px; clear: right; border-radius: 24px; }
.table.table-blogs .cell-name p		 	{ overflow: hidden; margin-top: 14px;}
.table.table-blogs .cell-rating 		{ width: 70px; font-weight: bold; }
.table.table-blogs .cell-readers 		{ width: 70px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-join 			{ width: 130px; text-align: center; vertical-align: middle; }
.table.table-blogs .cell-rating 		{ text-align: center; vertical-align: middle; }

/* Table Plugins */
.table.table-plugins .cell-checkbox 	{ width: 20px; padding: 12px 0 10px 10px; }
.table.table-plugins h3 				{ font-weight: bold; font-size: 17px; line-height: 20px; margin-bottom: 5px; }

/* Table Profile Notes */
.table.table-profile-notes 					{ border-top: 1px solid $main-accent-second; }
.table.table-profile-notes td 				{ vertical-align: top; }
.table.table-profile-notes .cell-username 	{ width: 20%; font-weight: bold; }
.table.table-profile-notes .cell-note 		{ width: 50%; }
.table.table-profile-notes .cell-date 		{ text-align: right; }

/* Table Profile Info */
.table.table-profile-info 				{ margin-bottom: 40px; }
.table.table-profile-info td 			{ vertical-align: top; }
.table.table-profile-info .cell-label 	{ width: 30%; color: #777; }

/* Table Users */
.table.table-users th 					{ font-size: 11px; }
.table.table-users .cell-name 			{ }
.table.table-users .cell-name img 		{ float: left; border-radius: 24px; }
.table.table-users .cell-name .username {
    margin-left: 58px;
    width: 100%;
    max-width: 320px;
    position: relative;
    top: calc(24px - (17px / 2));
    height: 1em;

}
.table.table-users .cell-rating,
.table.table-users .cell-skill 			{ text-align: center; width: 50px; }
.table.table-users .cell-rating-positive {
    color: #4CAF50;
}
.table.table-users .cell-rating-negative {
    color: #F44336;
}

/* Table Talk */
.table.table-talk .cell-checkbox 		{ width: 20px; padding: 12px 0 10px 10px; }
.table.table-talk thead .cell-checkbox 	{ padding: 10px 0 10px 10px; }
.table.table-talk .cell-favourite 		{ width: 20px; padding: 10px 0; text-align: center; }
.table.table-talk .cell-recipients 		{ width: 100px; }
.table.table-talk tbody .cell-date 		{ font-size: 11px; width: 130px; }
.table.table-talk tbody td				{ vertical-align: top; }

#list_wrapper {
    padding: 10px;
    border-radius: 20px;
    background: $first;
    border: $second-border;
    margin-bottom: 15px;
}

.table-hover > tbody > tr:hover {
    background-color: $table-hover;
}

.table td,
.table th {
    border-bottom: none;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    border-top: none;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: scroll;
    width: 100%;
}