<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Local cache</lang>
        <lang name="russian">Local cache</lang>
    </name>
    <author>
        <lang name="default">author</lang>
        <lang name="russian">Артем tema_mak Маковецкий</lang>
    </author>
    <homepage>http://livestreet.ru</homepage>
    <version>0.0.1</version>
    <requires>
        <livestreet>1.0.1</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Local cache for object</lang>
        <lang name="russian">Local cache for object</lang>
    </description>
</plugin>
