<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>
    <lang name="default">Topic info</lang>
  </name>
  <author>
    <lang name="default">PSNet</lang>
  </author>
  <homepage>http://psnet.lookformp3.net</homepage>
  <version>1.0.4</version>
  <requires>
    <livestreet>1.0</livestreet>
    <plugins></plugins>
  </requires>
  <description>
    <lang name="default">Show on topic`s page block with information about author (avatar, login, real name, contacts, skill, rating) and list of author`s topics, for topic-photoset shows main photo.</lang>
    <lang name="russian">Выводит в сайдбаре на странице топика блок с информацией об авторе топика (аватар, логин, имя, контактные данные, силу, рейтинг) и список топиков данного автора, для топика-фотосета также выводит главное превью.</lang>
    <lang name="ukrainian">На сторінці топіка в сайдбарі показує інформацію про автора топіка (аватар, логін, ім'я, контакти, силу та рейтинг) і список публікацій цього користувача, для топіка-фотосету також виводить головне прев'ю.</lang>
  </description>
</plugin>
