<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Talk Bell</lang>
	</name>
	<author>
		<lang name="default">netlanc</lang>
	</author>
	<homepage>http://netlanc.net</homepage>
	<version>0.3</version>
	<requires>
		<livestreet>1.x</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Instant notification of personal messages</lang>
		<lang name="russian">Мгновенные уведомления о личных сообщениях</lang>
	</description>
</plugin>
