{
    "max_edit_period": 172800,
    "deny_with_answers": true,
    "max_edit_period_from_first_answer": 3600,
    "db": {
        "params": {
            "host": "localhost",
            "port": "3306",
            "user": "",
            "pass": "",
            "type": "mysqli",
            "dbname": "social"
        },
        "table": {
            "prefix": "prefix_"
        }
    },
    "module": {
        "comment": {
            "bad": "-100000"
        }
    },
    "path": {
        "root": {
            "web": "https://bunker.lunavod.ru",
            "server": ".",
            "engine": "___path.root.server___/engine",
            "engine_lib": "___path.root.web___/engine/lib"
        }
    },
    "sys": {
        "mail": {
            "type": "mail",
            "from_email": "no-reply@lunavod.ru",
            "from_name": "Почтовик Бункера",
            "charset": "UTF-8",
            "smtp": {
                "host": "localhost",
                "port": 25,
                "user": "",
                "password": "",
                "secure": "",
                "auth": true
            },
            "include_comment": false,
            "include_talk": false
        }
    },
    "view": {
        "name": "Бункер",
        "referrer_policy": "strict-origin-when-cross-origin"
    },
    "sockets_url": "https://socket.lunavod.ru",
    "reCaptcha": {
        "secret": "",
        "key": ""
    },
    "acl": {
        "vote_list": {
            "comment": {
                "date_sort": 1,
                "oe_end": 1513436641,
                "oe_enable_level": 2,
                "ne_enable_level": 6
            },
            "topic": {
                "date_sort": 1,
                "oe_end": 1515690443,
                "oe_enable_level": 2,
                "ne_enable_level": 6
            },
            "blog": {
                "date_sort": 1,
                "oe_end": 0,
                "oe_enable_level": 1,
                "ne_enable_level": 1
            },
            "user": {
                "date_sort": 1,
                "oe_end": 0,
                "oe_enable_level": 1,
                "ne_enable_level": 1
            }
        }
    }
}

