<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Отключение персональных блогов</lang>
    </name>
    <author>
        <lang name="default">netlanc</lang>
    </author>
    <homepage>http://netlanc.net</homepage>
    <version>1.2</version>
    <requires>
        <livestreet>1.x</livestreet>
        <plugins></plugins>
    </requires>
    <description>
        <lang name="default">Disabling personal blogs</lang>
        <lang name="russian">Отключение персональных блогов</lang>
    </description>
</plugin>
