<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">Episodes</lang>
        <lang name="russian">Episodes</lang>
    </name>
    <author>
        <lang name="default">Lunavod</lang>
        <lang name="russian">Лунавод</lang>
    </author>
    <homepage>http://livestreet.ru</homepage>
    <version>1.0.0</version>
    <requires>
        <livestreet>1.0.3</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Description of plugin Episodes</lang>
        <lang name="russian">Описание плагина Episodes</lang>
    </description>
</plugin>
