<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Feedbacks</lang>
		<lang name="russian">Feedbacks</lang>
	</name>
	<author>
		<lang name="default">Germis</lang>
	</author>
	<homepage>http://vi.germis.name</homepage>
	<version>1.0.6</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Саздает на сайте ленту событий активности, касаемой пользователя</lang>
	</description>
</plugin>